body {
  background: #ccc;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(41, 41, 41, 0.69);
  margin: 0;
  padding: 0;
}



.popular .swiper-container {
  padding-bottom: 20px;
}

h1 {
  margin: 10px;
  font-size: 24px;
  text-align: center;
}
