body {
  background: #ccc;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(41, 41, 41, 0.69);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px;
  font-size: 24px;
  text-align: center;
}

.popular .swiper-container {
  padding-bottom: 20px;
}

.button {
  padding: 10px;
  border: 0;
  background: #e0e0e0;
  &--favorites {
    background: #2f3ad6;
    color: #fff;
  }
}


